<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="debug"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{MMdd HH:mm:ss.SSS} [%p] [%t] [%c{1.}] - %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/hadoop-${server.name}.log"/>
        <param name="MaxFileSize" value="20MB"/>
        <param name="MaxBackupIndex" value="20"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{MMdd HH:mm:ss.SSS} [%p] [%t] [%c{1.}] [user:%X{runAs}]- %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="trace" />
        <!-- <appender-ref ref="file"/> -->
        <appender-ref ref="console"/>
    </root>

</log4j:configuration>
